folium==0.16.0
google-ai-generativelanguage==0.6.2
google-generativeai==0.5.2
googletrans==3.0.0
jsonpointer==2.1
keras==3.2.1
marshmallow==3.21.1
pandas-datareader==0.10.0
streamlit==1.33.0
streamlit-geolocation==0.0.10
streamlit-option-menu==0.3.12
streamlit_folium==0.20.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-intel==2.16.1
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
tf_keras==2.16.0
translate==3.6.1

